main-blx.bib
main.aux
main.bbl
main.blg
main.fdb_latexmk
main.fls
main.lof
main.log
main.lot
main.out
main.pdf
main.run.xml
main.synctex.gz
main.toc
.vscode
.DS_Store
Chapters/*.aux
Chapters/.DS_Store
Appendix/.DS_Store
Appendix/*.aux
